.result {
	background: #fff;
	border-radius: 5px;
	bottom: 0;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	left: 0;
	line-height: 1.5rem;
	padding: 2rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99999;

	&::before {
		background: #fff;
		bottom: 0;
		border-radius: 5px;
		content: "";
		height: calc(100% - 2rem);
		left: 1rem;
		top: 1rem;
		position: absolute;
		width: calc(100% - 2rem);
		z-index: 0;
	}

	p {
		z-index: 1;
	}

	a {
		color: #555;
		font-weight: bold;
	}
}

.resultSuccess {
	background: linear-gradient(rgb(15, 191, 33), rgb(10, 206, 171));
}

.resultError {
	background: linear-gradient(to bottom, #ed213a, #93291e);
}

.resultIcon {
	margin: 0 auto;
	z-index: 1;

	svg {
		height: 60px;
		width: 60px;
		stroke: #0ec556;
	}
}

.errorClose {
	background: none;
	border: none;
	position: absolute;
	right: 1rem;
	top: 1.5rem;
	z-index: 2;

	svg {
		height: 50px;
		stroke: #888888;
		width: 50px;
	}
}
