#account {
	.section-title {
		border-bottom: 1px solid #eee;
		font-size: 1.3rem;
		padding: 0 0 1rem;
	}
}

.subscription__options {
	display: flex;
	margin: 2rem -0.5rem;

	.subscription-option {
		background: #fff;
		border: 1px solid #eee;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		box-sizing: border-box;
		margin: 0 0.5rem;
		padding: 1rem;

		&--current {
			border: 1px solid $primaryColor;
		}

		&__price {
			margin: 1rem 0;
			padding: 0;
			span {
				color: $primaryColor;
				font-size: 1.5rem;
				font-weight: bold;
			}
			small {
				font-size: 0.8rem;
			}
		}

		h4 {
			border-bottom: 1px solid #eee;
			margin: 0;
			padding: 0 0 1rem;

			span {
				padding-right: 0.5rem;
			}
		}

		.plan-term-info {
			font-size: 0.8rem;
			color: #888;
			padding: 0;
			margin: 0;
		}

		ul {
			list-style-type: none;
			margin: 1rem 0;
			padding: 0;

			li {
				background-image: url(../../public/images/icons/icon-check.svg);
				background-position: 4px 7px;
				background-repeat: no-repeat;
				background-size: 15px;
				font-size: 0.9rem;
				line-height: 150%;
				margin: 0 0 0.5rem;
				padding: 0 0 0 1.5rem;
			}
		}

		.button {
			width: 100%;
		}

		.button--downgrade {
			font-size: 0.8rem;
			margin-top: 1rem;
		}

		.current-plan {
			align-items: center;
			background: none;
			border: none;
			box-sizing: border-box;
			color: #159c5b;
			cursor: default;
			display: flex;
			font-size: 1rem;
			font-weight: bold;
			height: 3rem;
			justify-content: center;
			line-height: 3rem;
			margin: 0 auto;
			max-width: 420px;
			min-width: 250px;
			padding: 0;
			text-decoration: none;

			.icon {
				background: #159c5b;
				border-radius: 50%;
				height: 24px;
				line-height: 24px;
				margin-right: 0.5rem;
				width: 24px;

				svg {
					background: #159c5b;
					border-radius: 50%;
					height: 15px;
					margin: 5px 0 0 4px;
					stroke: #fff;
					width: 15px;
				}
			}
		}
	}
}

.subscription__terms {
	align-items: stretch;
	background: #eee;
	border-radius: 5px;
	font-size: 0.9rem;
	display: flex;
	max-width: 400px;
	padding: 5px;

	.term {
		border: 1px solid #eee;
		cursor: pointer;
		display: block;
		flex: 1;
		padding: 0.5rem;
		text-align: center;

		small {
			font-weight: normal;
			color: #888;
		}

		&--active {
			background: #fff;
			border: 1px solid $primaryColor;
			border-radius: 5px;
			box-sizing: border-box;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
			cursor: default;
			color: $primaryColor;
		}
	}
}

.subscription__cancel {
	background: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	line-height: 150%;
	margin: 4rem 0 0;
	padding: 1rem;

	h4 {
		margin: 0;
		padding: 0;
	}

	p {
		font-size: 0.9rem;
	}

	button {
		margin-left: 0;
	}
}

.subscription__refund {
	background: #fff;
	border: 1px solid #eee;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
	line-height: 150%;
	margin: 4rem 0 0;
	padding: 1rem;

	h4 {
		margin: 0;
		padding: 0;
	}

	p {
		font-size: 0.9rem;
	}

	a {
		color: $primaryColor;
		font-weight: bold;
		text-decoration: none;
	}
}

.account__delete {
	margin-top: 4rem;
	line-height: 150%;

	p {
		font-size: 0.9rem;
	}

	button {
		margin-left: 0;
	}
}

#personal-settings {
	&__form {
		background: #fff;
		border: 1px solid #eee;
		border-radius: 3px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
		max-width: 500px;
	}
}
