.campaignSettingsPanel {
	background: #fff;
	border-left: 1px solid #eee;
	font-size: 1rem;
	height: calc(100vh - 60px);
	overflow-y: auto;
	position: fixed;
	top: 60px;
	right: 0;
	width: 330px;
	z-index: 20;
}

.settingsPanelSection {
	padding: 1rem;
}

.settingsPanelLabel {
	align-items: center;
	display: flex;
	font-weight: bold;
	margin: 0 0 0.5rem;

	span {
		margin-left: 0.5rem;
	}
}

.settingsPanelHelp {
	color: #555;
	font-size: 0.8rem;
	line-height: 1.2rem;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 1000;

	strong {
		color: #333;
	}
}

.settingsPanelInput {
	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}
	-moz-appearance: textfield;

	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	line-height: 2.3rem;
	margin: 0 0 0.5rem;
	padding: 0 1rem 0;
	width: 100%;

	&:focus {
		outline: none;
		box-shadow: 0 0 10px #cbc2f5;
	}
}

.settingsPanelTextarea {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	min-height: 4rem;
	line-height: 1.3rem;
	margin: 0 0 0.5rem;
	padding: 0.5rem 1rem;
	width: 100%;

	&:focus {
		outline: none;
		box-shadow: 0 0 10px #cbc2f5;
	}
}

.imageUploadContainer {
	padding: 0;
	position: relative;

	input {
		background: none;
		border: none;
		box-sizing: border-box;
		cursor: pointer;
		font-size: 0.8rem;
		height: 2.3rem;
		left: 0;
		line-height: 2.3rem;
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	small {
		color: #555;
		display: block;
		font-size: 0.7rem;
		margin-bottom: 1rem;
		margin-top: 0.4rem;
		text-align: center;
	}
}

.settingsPanelImagePreview {
	img,
	figure {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	button {
		margin-bottom: 1rem;
	}
}

.shareButton {
	align-items: center;
	background: #eee;
	border-radius: 5px;
	border: none;
	box-sizing: border-box;
	display: flex;
	font-size: 0.9rem;
	font-weight: bold;
	height: 2.3rem;
	margin: 0 0 0.5rem;
	text-decoration: none;
	width: 100%;
}

.shareIcon {
	margin: 0.2rem 0.5rem 0;
}

.shareButtonFacebook {
	background: #1877f2;
	color: #fff;

	&:hover {
		background: #4267b2;
	}
}

.shareButtonTwitter {
	background: #1b95e0;
	color: #fff;

	&:hover {
		background: #0887d5;
	}
}

.shareButtonEmail,
.shareButtonLink {
	background: #9aa6af;
	color: #fff;

	&:hover {
		background: #82919b;
	}
}

.settingsHeader {
	box-sizing: border-box;
	border-bottom: 1px solid #eee;
	color: #555;
	display: flex;
	font-size: 0.7rem;
	font-weight: bold;
	height: 2.5rem;
	justify-content: space-between;
	line-height: 2.5rem;
	padding: 0 0 0 1rem;
	text-transform: uppercase;
	width: 100%;
}

.settingsClose {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	opacity: 0.4;
	padding: 0 0.5rem;

	&:hover {
		opacity: 1;
	}
}

.campaignURL {
	background: #fff url(../../public/images/editor/icons/icon-link.svg) no-repeat 0.5rem center;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 0.8rem;
	line-height: 2.3rem;
	margin: 0 0 0.5rem;
	outline: none;
	padding: 0 1rem 0 2.5rem;
	width: 100%;
}

.campaignURLContainer {
	align-items: center;
	display: flex;

	span {
		color: #888;
		display: block;
		font-size: 0.8rem;
		margin: 0 5px 0.5rem 0;
	}
}

.valueError {
	color: #bf0711;
	fill: #bf0711;
	font-size: 0.8rem;
	line-height: 1.2rem;
	margin: 0 0 0.5rem;

	svg {
		height: 0.8rem;
		margin-right: 0px;
		margin-top: 0px;
		width: 0.8rem;
	}
}

.invalidValue {
	background: #fbeae5;
	border: 1px solid #bf0711;
}

.settingsPanelLink {
	color: #5a38fd;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	svg {
		margin-left: 5px;
	}
}

.balloons {
	position: relative;
	width: 100%;

	span {
		left: 0;
		opacity: 0;
		position: absolute;
		top: 0;

		strong {
			display: inline-block;
		}

		@for $i from 1 through 10 {
			$randomPosition: random();
			&:nth-child(#{$i}) {
				left: percentage($randomPosition);
				animation-delay: random(500) + 500 + ms;
				animation-duration: random(1000) + 500 + ms;

				strong {
					transform: scale(random(3));
				}
			}
		}
	}
}

.animate {
	animation-name: balloonFloat;
	animation-fill-mode: forwards;
	animation-timing-function: linear;
}

@keyframes balloonFloat {
	0% {
		opacity: 0;
		transform: translateY(0px) translateX(0);
	}
	20% {
		opacity: 0.25;
		transform: translateY(-20px) translateX(-10px);
	}
	40% {
		opacity: 0.5;
		transform: translateY(-30px) translateX(10px);
	}
	60% {
		opacity: 0.75;
		transform: translateY(-40px) translateX(-5px);
	}
	80% {
		opacity: 1;
		transform: translateY(-50px) translateX(5px);
	}
	100% {
		opacity: 0;
		transform: translateY(-60px) translateX(0px);
	}
}
