.campaignSettingsPanel {
	background: #fff;
	border-left: 1px solid #eee;
	font-size: 1rem;
	height: calc(100vh - 60px);
	overflow-y: auto;
	position: fixed;
	top: 60px;
	right: 0;
	width: 330px;
	z-index: 20;
}

.settingsPanelSection {
	padding: 1rem;
}

.settingsPanelLabel {
	align-items: center;
	display: flex;
	font-weight: bold;
	margin: 0 0 0.5rem;

	span {
		margin-left: 0.5rem;
	}
}

.settingsPanelHelp {
	color: #555;
	font-size: 0.8rem;
	line-height: 1.2rem;
	margin: 0;
	padding: 0;

	strong {
		color: #333;
	}
}

.settingsPanelInput {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 0.8rem;
	line-height: 2.3rem;
	margin: 0 0 0.5rem;
	padding: 0 1rem 0;
	width: 100%;

	&:focus {
		outline: none;
		box-shadow: 0 0 10px #cbc2f5;
	}
}

.settingsPanelTextarea {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 0.8rem;
	min-height: 4rem;
	line-height: 1.3rem;
	margin: 0 0 0.5rem;
	padding: 0.5rem 1rem;
	width: 100%;

	&:focus {
		outline: none;
		box-shadow: 0 0 10px #cbc2f5;
	}
}

.imageUploadContainer {
	padding: 0;
	position: relative;

	input {
		background: none;
		border: none;
		box-sizing: border-box;
		cursor: pointer;
		font-size: 0.8rem;
		height: 2.3rem;
		left: 0;
		line-height: 2.3rem;
		margin: 0;
		opacity: 0;
		padding: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}

	small {
		color: #555;
		display: block;
		font-size: 0.7rem;
		margin-bottom: 1rem;
		margin-top: 0.4rem;
		text-align: center;
	}
}

.settingsPanelImagePreview {
	img,
	figure {
		margin: 0;
		padding: 0;
		width: 100%;
	}

	button {
		margin-bottom: 1rem;
	}
}
