@import "../../styles/mixins/color";

.header {
	align-items: center;
	background: $primaryColor;
	display: flex;
	font-size: 0.8rem;
	height: 60px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10;

	a {
		color: #fff;
		margin-top: 0.3rem;
		text-decoration: none;
	}
}

.separator {
	color: #9680fe;
	font-weight: 700;
	padding: 0.3rem 1rem 0;
}

.logoContainer {
	padding: 0 2rem 0 1rem;
}

.campaignNameContainer {
	margin-top: 0.3rem;
	position: relative;
	input {
		background: none;
		border: 1px solid #9680fe;
		border-radius: 3px;
		box-sizing: border-box;
		color: #fff;
		height: 1.8rem;
		line-height: 1.8rem;
		outline: none;
		padding: 0 0.5rem;
		position: relative;
		width: 250px;
		z-index: 20;
	}
}

.editIcon {
	opacity: 0.5;
	position: absolute;
	right: 0.5rem;
	top: 0.3rem;
	z-index: 1;

	svg {
		stroke: #fff;
	}
}
