@import "../../styles/mixins/color";

.header {
	align-items: center;
	background: $primaryColor;
	display: flex;
	font-size: 0.8rem;
	height: 60px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 10;

	a {
		color: #fff;
		text-decoration: none;
	}
}

.separator {
	color: #9680fe;
	font-weight: 700;
	padding: 0 1rem 0;
}

.logoContainer {
	padding: 0 2rem 0 1rem;
}

.campaignNameContainer {
	position: relative;
	input {
		background: #5a38fd url("../../public/images/editor/icons/icon-pencil.svg") no-repeat 220px 5px;
		border: 1px solid #9680fe;
		border-radius: 3px;
		box-sizing: border-box;
		color: #fff;
		height: 1.8rem;
		line-height: 1.8rem;
		outline: none;
		padding: 0 1.7rem 0 0.5rem;
		position: relative;
		width: 250px;
		z-index: 20;
	}
}

.editIcon {
	opacity: 0.5;
	position: absolute;
	right: 0.5rem;
	top: 0.3rem;
	z-index: 1;

	svg {
		stroke: #fff;
	}
}

.buttonCampaignSettings {
	align-items: center;
	background: #4726e2;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: flex;
	line-height: 1.8rem;
	margin: 0 0.5rem 0 auto;
	outline: none;
	padding: 0 1rem;

	&:hover {
		background: #4428c6;
	}

	svg {
		margin-left: 0.5rem;
	}
}

.buttonShare {
	align-items: center;
	background: #4726e2;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: flex;
	line-height: 1.8rem;
	margin: 0 0.5rem 0 0;
	outline: none;
	padding: 0 1rem;

	&:hover {
		background: #4428c6;
	}

	svg {
		margin-left: 0.5rem;
	}
}

.buttonPublish {
	align-items: center;
	background: #159c5b;
	border: none;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: flex;
	font-weight: 700;
	line-height: 1.8rem;
	margin: 0 1rem 0 0;
	outline: none;
	padding: 0 1rem;
	text-transform: uppercase;

	&:hover {
		background: #08cd6e;
	}
}
