.sidebar {
	background: #34495b;
	display: flex;
	height: calc(100vh - 60px);
	left: 0;
	position: fixed;
	overflow-y: scroll;
	top: 60px;
	width: 400px;
}

.sidebarElements {
	background: #263847;
	height: 100%;
	width: 70px;
}

.sidebarElementOptions {
	width: 330px;
}
