.sidebar {
	background: #34495b;
	display: flex;
	height: calc(100vh - 60px);
	left: 0;
	position: fixed;
	overflow-y: scroll;
	top: 60px;
	width: 400px;
	z-index: 10;
}

.sidebarElements {
	background: #263847;
	height: 100%;
	width: 70px;
}

.sidebarElementOptions {
	width: 330px;

	p {
		color: #6589a8;
		font-size: 0.8rem;
		line-height: 1.3rem;
		margin: 0;
		padding: 1rem 1rem 0;
	}
}
