$primaryColor: #5a38fd;
$primaryColorHover: #7456ff;
$primaryColorActive: #3c1bd6;

$secondaryColor: #82b1ff;
$secondaryColorHover: #f1eeff;
$secondaryColorActive: #497fd7;

$dangerColor: #ce0a16;
$dangerColorHover: #ec0c1a;
$dangerColorActive: #b20711;

$fontColor: #1d1d1d;
$fontColorSecondary: #555;
$fontColorTertiary: #888;
$errorColor: #ce0a16;
