.color {
	&--error {
		color: $errorColor;
	}

	&--primary {
		color: $fontColor;
	}

	&--secondary {
		color: $fontColorSecondary;
	}

	&--tertiary {
		color: $fontColorTertiary;
	}

	&--action {
		color: $primaryColor;
	}
}

.block {
	display: block;
}

.not-provided {
	font-style: italic;
	opacity: 0.6;
}

.hidden {
	display: none;
}

$margin: 0;
@while $margin < 100 {
	/* Margin global */
	.m-#{$margin} {
		margin: ($margin) + px;
	}

	/* Margin right */
	.mr-#{$margin} {
		margin-right: ($margin) + px;
	}

	/* Margin left */
	.ml-#{$margin} {
		margin-left: ($margin) + px;
	}

	/* Margin top */
	.mt-#{$margin} {
		margin-top: ($margin) + px;
	}

	/* Margin bottom */
	.mb-#{$margin} {
		margin-bottom: ($margin) + px;
	}

	$margin: $margin + 5;
}

$padding: 0;
@while $padding < 100 {
	/* padding global */
	.p-#{$padding} {
		padding: ($padding) + px;
	}

	/* padding right */
	.pr-#{$padding} {
		padding-right: ($padding) + px;
	}

	/* padding left */
	.pl-#{$padding} {
		padding-left: ($padding) + px;
	}

	/* padding top */
	.pt-#{$padding} {
		padding-top: ($padding) + px;
	}

	/* padding bottom */
	.pb-#{$padding} {
		padding-bottom: ($padding) + px;
	}

	$padding: $padding + 5;
}

$opacity: 0;
@while $opacity < 10 {
	.op-#{$opacity} {
		opacity: 0.1 * $opacity;
	}

	$opacity: $opacity + 1;
}

.placeholder {
	display: block;
	width: 100%;
}

$height: 1;
@while $height < 11 {
	.height-#{$height} {
		height: ($height) + rem;
	}

	$height: $height + 1;
}

.text {
	&--small {
		font-size: smaller;
	}

	&--secondary {
		color: $fontColorSecondary;
	}

	&--tertiary {
		color: $fontColorTertiary;
	}
}

.align {
	&--left {
		text-align: left;
	}

	&--center {
		text-align: center;
	}

	&--right {
		text-align: right;
	}
}
