.color {
	&--error {
		color: $errorColor;
	}
}

.block {
	display: block;
}

.not-provided {
	font-style: italic;
	opacity: 0.6;
}

$margin: 0;
@while $margin < 100 {
	/* Margin right */
	.mr-#{$margin} {
		margin-right: ($margin) + px;
	}

	/* Margin left */
	.ml-#{$margin} {
		margin-left: ($margin) + px;
	}

	/* Margin top */
	.mt-#{$margin} {
		margin-top: ($margin) + px;
	}

	/* Margin bottom */
	.mb-#{$margin} {
		margin-bottom: ($margin) + px;
	}

	$margin: $margin + 5;
}

$opacity: 0;
@while $opacity < 10 {
	.op-#{$opacity} {
		opacity: 0.1 * $opacity;
	}

	$opacity: $opacity + 1;
}
