.button {
	align-items: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	font-weight: bold;
	height: 3rem;
	justify-content: center;
	line-height: 3rem;
	max-width: 420px;
	width: 100%;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&--primary {
		background: #a30fbb;
		color: #fff;

		&:hover:not(:disabled) {
			background: #b600d4;
		}

		&:active {
			background: #7e0592;
		}
	}

	&--outline {
		background: #fafafa;
		border: 1px solid #cecece;

		&:hover:not(:disabled) {
			background: #eee;
		}

		&:active {
			background: #ccc;
		}
	}
}
