.campaign {
	align-items: center;
	background: #20202a;
	height: 100vh;
	display: flex;
	justify-content: center;
	overflow: hidden;
	position: relative;
	user-select: none;
	width: 100%;

	.story {
		height: 640px;
		overflow: hidden;
		position: relative;
		width: 360px;

		&__screens {
			display: flex;
			flex-wrap: nowrap;
			height: 100%;
			left: 0;
			position: absolute;
			transition: left 300ms ease-in;
			top: 0;

			.screen {
				width: 100%;
			}
		}

		.screens-indicator {
			display: flex;
			position: absolute;
			top: 5px;
			width: 100%;

			.indicator {
				background: rgba(255, 255, 255, 0.5);
				border-radius: 3px;
				box-sizing: border-box;
				height: 3px;
				margin: 0 2px;
				flex: 1;

				&--active {
					background: rgba(255, 255, 255, 0.8);
				}
			}
		}
	}
}
