.campaign {
	align-items: center;
	background: #20202a;
	display: flex;
	height: 100vh;
	justify-content: center;
	line-height: 150%;
	overflow: hidden;
	position: relative;
	width: 100%;

	.story {
		height: 100%;
		position: relative;
		width: 100%;

		@media only screen and (min-width: 768px) {
			border-radius: 5px;
			height: 640px;
			overflow: hidden;
			width: 360px;
		}

		.screens-indicator {
			display: flex;
			justify-content: space-between;
			position: absolute;
			top: 5px;
			width: 100%;
			z-index: 9999;

			.indicator {
				background: rgba(255, 255, 255, 0.6);
				border-radius: 3px;
				flex: 1;
				height: 3px;
				margin: 0 5px;
				position: relative;

				&::after {
					background: #fff;
					content: "";
					display: block;
					height: 3px;
					width: 0;
					transition: width 100ms linear;
				}

				&--active {
					&::after {
						width: 100%;
					}
				}
			}
		}

		.screen {
			align-items: center;
			display: flex;
			height: 100%;
			justify-content: center;
			width: 100%;

			&__body {
				height: 640px;
				position: relative;
				width: 360px;
			}

			span {
				line-height: 150%;
			}

			.screen-item {
				&--button {
					cursor: pointer;
				}
			}
		}
	}

	&__preview-qr {
		color: #fff;
		display: none;
		font-size: 14px;
		left: 1em;
		line-height: 1.5em;
		position: absolute;
		top: 1em;
		width: 200px;

		@media only screen and (min-width: 768px) {
			display: block;
		}

		p {
			margin: 0;
			padding: 0;
		}

		svg {
			margin-top: 1em;
		}
	}
}

#screen-orientation-alert {
	align-items: center;
	background: #fff;
	display: none;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;

	svg {
		animation: rotateDevice 1s ease infinite;
	}

	@media only screen and (orientation: landscape) and (max-height: 500px) {
		display: flex;
	}
}

@keyframes rotateDevice {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(-45deg);
	}
	90% {
		transform: rotate(-45deg);
	}
}

#screen-height-alert {
	align-items: center;
	background: #20202a;
	color: #fff;
	display: none;
	flex-direction: column;
	font-weight: bold;
	height: 100%;
	justify-content: center;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	z-index: 99999;

	@media only screen and(max-height: 560px) {
		display: flex;
	}

	p {
		padding: 1em;
	}

	svg {
		background: #fff;
		border-radius: 2em;
		padding: 1.5em;
	}
}
