.screen {
	margin: 1rem auto;
	position: relative;
	width: 360px;
}

.screenActions {
	display: flex;
	justify-content: space-between;
}

.buttonScreen {
	align-items: center;
	background: none;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: #555;
	cursor: pointer;
	display: flex;
	opacity: 0.8;
	outline: none;
	padding: 0.3rem;

	&:hover {
		background: #ecebf1;
		opacity: 1;
	}
}

.buttonLabel {
	margin-left: 0.5rem;
	font-size: 0.7rem;
}

.buttonScreenSettings {
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
}

.screenBody {
	background: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
	height: 640px;
	margin: 0.5rem auto;
	position: relative;
}

.screenBodyActive {
	border: 2px solid #0ae7f5;
}

.screenBodyDropover {
	box-shadow: 0 0 10px #0ae7f5;
}

.screenAdditionalActions {
	display: flex;
}
