.screen {
	margin: 1rem auto;
	position: relative;
	width: 360px;
}

.screenActions {
	display: flex;
	justify-content: space-between;
}

.buttonScreen {
	align-items: center;
	background: none;
	border: none;
	border-radius: 3px;
	box-sizing: border-box;
	color: #555;
	cursor: pointer;
	display: flex;
	opacity: 0.8;
	outline: none;
	padding: 0.3rem;

	&:hover:not(:disabled) {
		background: #ecebf1;
		opacity: 1;
	}

	&:not(:first-child) {
		margin: 0 0 0 0.25rem;
	}

	&:disabled {
		cursor: default;
		opacity: 0.5;
	}
}

.buttonLabel {
	margin-left: 0.5rem;
	font-size: 0.7rem;
}

.buttonScreenSettings {
	font-size: 0.8rem;
	font-weight: bold;
	text-transform: uppercase;
}

.screenBody {
	background: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	box-sizing: border-box;
	box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.05);
	height: 640px;
	margin: 0.5rem auto;
	overflow: hidden;
	position: relative;

	span {
		cursor: default;
		display: inline-block;
		height: auto;
		line-height: 150%;
		width: auto;
	}
}

.screenBodyActive {
	border: 2px solid #0ae7f5;
}

.screenBodyDropover {
	box-shadow: 0 0 10px #0ae7f5;
}

.screenAdditionalActions {
	display: flex;
}

.addScreenActions {
	display: flex;
	margin: 1rem auto;
	width: 360px;

	button {
		flex: 1 1 90%;
		font-size: 0.7rem;
		padding: 0 0.5rem;
		margin: 0 0 0 0.25rem;
		max-width: 90%;
		min-width: auto;

		&:first-child {
			margin: 0 0.25rem 0 0;
		}
	}
}

.screenBodyContainer {
	position: relative;
}

.screenBodySafeArea {
	border: 2px dashed #ddd;
	height: 500px;
	left: -20px;
	position: absolute;
	top: 70px;
	width: 400px;

	span {
		color: #ccc;
		cursor: default;
		display: block;
		font-size: 13px;
		font-weight: bold;
		height: 20px;
		line-height: 20px;
		margin-left: -240px;
		margin-top: 240px;
		text-align: center;
		text-transform: uppercase;
		transform: rotate(-90deg);
		width: 500px;

		&:hover {
			& + div {
				display: flex;
			}
		}
	}

	div {
		background: rgba(0, 0, 0, 0.5);
		backdrop-filter: blur(5px);
		align-items: center;
		display: none;
		height: 100%;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9999;

		p {
			color: #fff;
			font-size: 0.8rem;
			font-weight: bold;
			line-height: 150%;
			margin: 0;
			padding: 4rem;
			text-align: center;
		}
	}
}
