.button {
	align-items: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	font-size: 1rem;
	font-weight: bold;
	height: 3rem;
	justify-content: center;
	line-height: 3rem;
	max-width: 420px;
	text-decoration: none;
	width: 100%;

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&--primary {
		background: #a30fbb;
		color: #fff;

		&:hover:not(:disabled) {
			background: #b600d4;
		}

		&:active {
			background: #7e0592;
		}
	}

	&--outline {
		background: #fafafa;
		border: 1px solid #cecece;
		color: $fontColor;

		&:hover:not(:disabled) {
			background: #eee;
		}

		&:active {
			background: #ccc;
		}
	}

	&--close {
		background: none;
		border: none;
		border-radius: 1rem;
		position: absolute;
		right: 0;
		top: 0.75rem;

		&:hover {
			background: none;

			svg {
				fill: #fff;
			}
		}

		svg {
			height: 20px;
			width: 20px;
		}
	}

	&--card-navigation {
		background: none;
		border: none;
		border-radius: 20px;
		color: $primaryColor;
		font-weight: bold;
		height: 20px;
		padding: 0;
		position: absolute;
		right: 0.555555rem;
		top: 1.11111rem;
		width: 20px;

		span {
			display: inline-block;
			padding-bottom: 9px;
			transform: rotate(90deg);
		}

		&:hover {
			background: #f7f7f7;
			color: $primaryColor;

			svg {
				fill: $primaryColor;
			}
		}

		svg {
			fill: $primaryColor;
			height: 15px;
			width: 15px;
		}
	}

	&--dropdown {
		background: none;
		border: none;
		border-radius: 0;
		font-size: 0.9rem;
		text-align: left;
	}
}
