.empty-state {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3rem auto;
	min-height: 400px;
	position: relative;
	width: 100%;

	&--search {
		align-items: center;
		flex-direction: column;
		min-height: auto;
		text-align: center;

		.empty-state__body {
			max-width: 100%;
		}

		.empty-state__illustration {
			position: relative;
		}
	}

	&__body {
		max-width: 350px;
		z-index: 1;

		h4 {
			font-size: 1.5rem;
			font-weight: normal;
			line-height: 2rem;
			margin: 0 0 1rem;
			padding: 0;
		}

		button {
			margin-left: 0;
		}
	}

	&__copy {
		color: $fontColorSecondary;
		line-height: 1.6rem;
		margin: 0 0 1.6rem;
		padding: 0;
	}

	&__help {
		margin: 1.6rem 0 0 0;
		a {
			color: $primaryColor;
			font-size: 0.8rem;
			text-decoration: none;
		}
	}

	&__illustration {
		bottom: 0;
		position: absolute;
		right: 0;

		img {
			max-width: 600px;
		}
	}
}
