.answerOption {
	display: flex;
	margin-bottom: 0.5em;
	border-radius: 2em;
	padding: 0.5em;
}

.choice {
	border-radius: 2em;
	box-shadow: rgb(0 0 0 / 30%) 0px 0px 0px 2px inset;
	box-sizing: border-box;
	display: block;
	height: 1.6em;
	line-height: 1.6em;
	margin: 0.2em;
	text-align: center;
	width: 1.6em;
}

.optionText {
	height: 2em;
	line-height: 2em;
}
