.element {
	align-items: center;
	color: #c0c5c8;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	font-size: 0.55rem;
	height: 70px;
	justify-content: center;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 70px;

	&:hover {
		color: #fff;

		.icon {
			opacity: 1;
		}
	}
}

.elementActive {
	background: #34495b;
	color: #fff;

	.icon {
		opacity: 1;
	}

	&::after {
		background: transparent;
		border-top-right-radius: 50%;
		box-shadow: 0 -10px 0 0 #34495b;
		bottom: -20px;
		content: "";
		display: block;
		height: 20px;
		position: absolute;
		right: 0;
		width: 20px;
	}

	&::before {
		background: transparent;
		border-bottom-right-radius: 50%;
		box-shadow: 0 10px 0 0 #34495b;
		top: -20px;
		content: "";
		display: block;
		height: 20px;
		position: absolute;
		right: 0;
		width: 20px;
	}
}

.icon {
	margin-bottom: 0.3rem;
	opacity: 0.8;
}
