.elementOptions {
	padding: 1rem;
}

.option {
	cursor: move;
	cursor: grab;

	&:active {
		cursor: move;
		cursor: grabbing;
	}
}

.optionText {
	background: #425d74;
	border-radius: 5px;
	color: #ffffff;
	margin: 0 auto 0.5rem;
	padding: 0.5rem;
	user-select: none;
}

.tabs {
	border: 1px solid #425d74;
	border-radius: 5px;
	color: #fff;
	display: flex;
	font-size: 0.7rem;
	justify-content: space-evenly;
	line-height: 2rem;
	text-transform: uppercase;
}

.tab {
	box-sizing: border-box;
	border-right: 1px solid #425d74;
	color: #c0c5c8;
	cursor: pointer;
	flex-grow: 1;
	padding: 0 0.5rem;
	text-align: center;
	user-select: none;

	&:last-child {
		border-right: none;
	}
}

.tabActive {
	background: #425d74;
	color: #fff;
	cursor: default;
}

.optionButton {
	line-height: 50px;
	height: 50px;
	margin: 0 auto 10px;
	width: 200px;
}
