@import "mixins/normalize";
@import "mixins/button";
@import "mixins/alert";

@import "pages/login-form";
@import "pages/email-signup-confirm";

html,
body {
	background: #fafafa;
	color: #1d1d1d;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 18px;
}
