@import "mixins/color";
@import "mixins/normalize";
@import "mixins/utilities";

@import "molecules/alert";
@import "molecules/badge";
@import "molecules/button";
@import "molecules/campaign-card";
@import "molecules/modal";
@import "molecules/skeleton";
@import "molecules/toast";
@import "molecules/empty-state";
@import "molecules/table";
@import "molecules/form";
@import "molecules/footer-help";
@import "molecules/pagination";
@import "molecules/page-header";
@import "molecules/page-actions";
@import "molecules/screen-buttons";
@import "molecules/participant";
@import "molecules/page-tab-navigation";

@import "layout/page";
@import "layout/sidebar";

@import "pages/campaign";
@import "pages/email-signup-confirm";
@import "pages/login-form";
@import "pages/participant";
@import "pages/editor";
@import "pages/account";

@import "vendor/nprogress";
@import "vendor/moveable";
@import "vendor/datepicker";
@import "vendor/slider";
@import "vendor/colorpicker";
@import "vendor/contenteditable";

@import "frontend/story";

html,
body {
	background: #fafafa;
	color: $fontColor;
	font-family: "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, sans-serif;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
}
